<div class="grid-container">
  <mat-card
    style="
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    "
  >
    <button
      routerLink="add"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      [disabled]="isDisable"
    >
      <mat-icon>add</mat-icon>
    </button>

    <mat-divider
      [vertical]="true"
      style="height: 2rem; margin-inline: 1rem"
    ></mat-divider>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      [ngClass]="{
        refreshAnimation: isLoading && isLoadingType === loadingOption.REFRESH
      }"
      (click)="refresh()"
    >
      <mat-icon>refresh</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <div class="input-size">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input
          matInput
          placeholder="Ex name, id"
          #input
          (keyup)="applyFilter($event)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </mat-card>

  <div class="mat-elevation-z2 position-relative">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 50px">Sr no</th>
        <td mat-cell *matCellDef="let i = index">
          {{ i + 1 + paginator.pageSize * paginator.pageIndex }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.oemName }}</td>
      </ng-container>

      <ng-container matColumnDef="oemId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>OEM ID</th>
        <td mat-cell *matCellDef="let row">{{ row.oemId }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">
          {{ row.status ? 'ENABLED' : 'DISABLED' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.category.length !== 0">
            <mat-chip-list *ngIf="row.category !== undefined">
              <a [routerLink]="'edit/' + row._id">
                <mat-chip>
                  {{ row.category[0].name }}
                </mat-chip>
              </a>
            </mat-chip-list>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.product.length !== 0">
            <mat-chip-list *ngIf="row.product[0]">
              <a [routerLink]="'edit/' + row._id">
                <mat-chip>
                  {{ row.product[0].name }}
                </mat-chip>
              </a>
            </mat-chip-list>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="sensor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sensor</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.sensor.length !== 0">
            <mat-chip-list *ngIf="row.sensor[0]">
              <a [routerLink]="'edit/' + row._id">
                <mat-chip>
                  {{ row.sensor[0].name }}
                </mat-chip>
              </a>
            </mat-chip-list>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="logo">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let row" (click)="imageDialog(row.oemLogo)">
          <div *ngIf="row.oemLogo" class="wrapper-image">
            <img
              src="{{ row.oemLogo }}"
              alt="{{ row.name }} Image"
              onerror="this.src='../../../../assets/images/placeholder.png';"
            />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-flat-button
            color="transparent"
            style="float: right"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon> more_vert </mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <div *ngFor="let matMenuItem of matMenuItems">
              <button
                mat-menu-item
                (click)="deleteConfirmationDialog(row)"
                *ngIf="matMenuItem.name === 'Delete'"
              >
              <mat-icon>delete</mat-icon>
                {{ matMenuItem.name }}
              </button>
              <a
                *ngIf="matMenuItem.name === 'Edit'"
                routerLink="{{ 'edit/' + row._id }}"
                style="text-decoration: none"
              >
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  {{ matMenuItem.name }}
                </button>
              </a>
            </div>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- no data found div -->
    <table>
      <tr *ngIf="!dataSource.data.length">
        <td
          style="text-align: center; padding: 1rem"
          mat-card-title
          [attr.colspan]="displayedColumns.length"
        >
          No Records Found!
        </td>
      </tr>
    </table>

    <mat-paginator
      #paginator
      [hidden]="!dataSource.data.length"
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
    >
    </mat-paginator>

    <!-- loader -->
    <div
      *ngIf="isLoading"
      class="loader"
      [ngClass]="{
        new: isLoadingType === loadingOption.NEW,
        refresh: isLoadingType === loadingOption.REFRESH
      }"
    >
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="80">
      </mat-progress-spinner>
    </div>
  </div>
</div>
