mat-form-field {
  width: 100%;
}
.mat-typography {
  margin: 1rem;
}

.d-flex {
  display: flex;
  width: 100%;
}
.align-items-center {
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}

.d-grid {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: stretch;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 1rem;
  width: 100%;
}

.d-grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.align-items {
  align-items: flex-end;
}
.slide-toggle {
  height: 60%;
}

.table {
  margin: 1rem 0;
  $border: 1px solid #eee;
  table,
  tr,
  td,
  th {
    margin: 0;
    padding: 0;
    border: $border;
    vertical-align: middle;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #eee;
    vertical-align: middle;
    text-align: center;
    td,
    th {
      padding: 0.5rem 0;
    }

    th {
      h1 {
        margin: 0;
      }
    }

    td {
      padding: 1rem;
    }
  }
}

mat-radio-group {
  mat-radio-button + mat-radio-button {
    margin-left: 1rem;
  }
}
